@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
*, *:before, *:after {
    box-sizing: border-box;
}
body {
    background: #C5DDEB;
    font-family: 'Roboto', sans-serif;
    color: white;
}
.container {
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    display: flex;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 9999;
}
.main {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    min-height: 600px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}
.messages {
    display: flex;
    /* or inline-flex */
    position: relative;
    width: 100%;
    min-width: 1000px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAMAAAAp4XiDAAAAUVBMVEWFhYWDg4N3d3dtbW17e3t1dXWBgYGHh4d5eXlzc3OLi4ubm5uVlZWPj4+NjY19fX2JiYl/f39ra2uRkZGZmZlpaWmXl5dvb29xcXGTk5NnZ2c8TV1mAAAAG3RSTlNAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEAvEOwtAAAFVklEQVR4XpWWB67c2BUFb3g557T/hRo9/WUMZHlgr4Bg8Z4qQgQJlHI4A8SzFVrapvmTF9O7dmYRFZ60YiBhJRCgh1FYhiLAmdvX0CzTOpNE77ME0Zty/nWWzchDtiqrmQDeuv3powQ5ta2eN0FY0InkqDD73lT9c9lEzwUNqgFHs9VQce3TVClFCQrSTfOiYkVJQBmpbq2L6iZavPnAPcoU0dSw0SUTqz/GtrGuXfbyyBniKykOWQWGqwwMA7QiYAxi+IlPdqo+hYHnUt5ZPfnsHJyNiDtnpJyayNBkF6cWoYGAMY92U2hXHF/C1M8uP/ZtYdiuj26UdAdQQSXQErwSOMzt/XWRWAz5GuSBIkwG1H3FabJ2OsUOUhGC6tK4EMtJO0ttC6IBD3kM0ve0tJwMdSfjZo+EEISaeTr9P3wYrGjXqyC1krcKdhMpxEnt5JetoulscpyzhXN5FRpuPHvbeQaKxFAEB6EN+cYN6xD7RYGpXpNndMmZgM5Dcs3YSNFDHUo2LGfZuukSWyUYirJAdYbF3MfqEKmjM+I2EfhA94iG3L7uKrR+GdWD73ydlIB+6hgref1QTlmgmbM3/LeX5GI1Ux1RWpgxpLuZ2+I+IjzZ8wqE4nilvQdkUdfhzI5QDWy+kw5Wgg2pGpeEVeCCA7b85BO3F9DzxB3cdqvBzWcmzbyMiqhzuYqtHRVG2y4x+KOlnyqla8AoWWpuBoYRxzXrfKuILl6SfiWCbjxoZJUaCBj1CjH7GIaDbc9kqBY3W/Rgjda1iqQcOJu2WW+76pZC9QG7M00dffe9hNnseupFL53r8F7YHSwJWUKP2q+k7RdsxyOB11n0xtOvnW4irMMFNV4H0uqwS5ExsmP9AxbDTc9JwgneAT5vTiUSm1E7BSflSt3bfa1tv8Di3R8n3Af7MNWzs49hmauE2wP+ttrq+AsWpFG2awvsuOqbipWHgtuvuaAE+A1Z/7gC9hesnr+7wqCwG8c5yAg3AL1fm8T9AZtp/bbJGwl1pNrE7RuOX7PeMRUERVaPpEs+yqeoSmuOlokqw49pgomjLeh7icHNlG19yjs6XXOMedYm5xH2YxpV2tc0Ro2jJfxC50ApuxGob7lMsxfTbeUv07TyYxpeLucEH1gNd4IKH2LAg5TdVhlCafZvpskfncCfx8pOhJzd76bJWeYFnFciwcYfubRc12Ip/ppIhA1/mSZ/RxjFDrJC5xifFjJpY2Xl5zXdguFqYyTR1zSp1Y9p+tktDYYSNflcxI0iyO4TPBdlRcpeqjK/piF5bklq77VSEaA+z8qmJTFzIWiitbnzR794USKBUaT0NTEsVjZqLaFVqJoPN9ODG70IPbfBHKK+/q/AWR0tJzYHRULOa4MP+W/HfGadZUbfw177G7j/OGbIs8TahLyynl4X4RinF793Oz+BU0saXtUHrVBFT/DnA3ctNPoGbs4hRIjTok8i+algT1lTHi4SxFvONKNrgQFAq2/gFnWMXgwffgYMJpiKYkmW3tTg3ZQ9Jq+f8XN+A5eeUKHWvJWJ2sgJ1Sop+wwhqFVijqWaJhwtD8MNlSBeWNNWTa5Z5kPZw5+LbVT99wqTdx29lMUH4OIG/D86ruKEauBjvH5xy6um/Sfj7ei6UUVk4AIl3MyD4MSSTOFgSwsH/QJWaQ5as7ZcmgBZkzjjU1UrQ74ci1gWBCSGHtuV1H2mhSnO3Wp/3fEV5a+4wz//6qy8JxjZsmxxy5+4w9CDNJY09T072iKG0EnOS0arEYgXqYnXcYHwjTtUNAcMelOd4xpkoqiTYICWFq0JSiPfPDQdnt+4/wuqcXY47QILbgAAAABJRU5ErkJggg==);
    background-color: #DDD;
    background-size: 128px 128px;
    border-left: 1px solid rgba(0, 0, 0, 0.08);
    flex-direction: column;
}
.messages>.header {
    position: relative;
    width: 100%;
    height: 75px;
    background-color: #eeeeee;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    border-top-right-radius: 5px;
    cursor: pointer;
}
.messages>.header>.type {
    position: absolute;
    margin-top: 30px;
    font-weight: normal;
    font-size: 16px;
    color: #000;
    vertical-align: baseline;
    float: left;
    margin-left: 50px;
    height: 20px;
    white-space: nowrap;
    overflow: hidden;
}
.messages>.header>.datum {
    position: absolute;
    margin-top: 10px;
    font-weight: normal;
    font-size: 12px;
    color: #000;
    vertical-align: baseline;
    float: left;
    margin-left: 320px;
}
.messages>.header>.string {
    position: absolute;
    margin-top: 34px;
    font-weight: normal;
    font-size: 12px;
    color: #000;
    vertical-align: baseline;
    float: left;
    margin-left: 240px;
}
.messages>.header>.string.bis {
    position: absolute;
    margin-top: 34px;
    font-weight: normal;
    font-size: 12px;
    color: #000;
    vertical-align: baseline;
    float: left;
    margin-left: 427px;
}
.messages>.header>.date {
    position: absolute;
    margin-top: 30px;
    font-weight: normal;
    font-size: 16px;
    color: #000;
    vertical-align: baseline;
    float: left;
    margin-left: 270px;
    width: 150px;
    height: 20px;
    white-space: nowrap;
    overflow: hidden;
    padding-left: 2px;
    padding-right: 2px;
    border: 0;
    border-radius: 2px;
    box-shadow: 0 0px 2px 1px rgba(0, 0, 0, 0.2);
}
.messages>.header>.date.t {
    margin-left: 450px;
}
.messages>.header>.filter_date {
    position: absolute;
    margin-top: 30px;
    font-weight: normal;
    font-size: 16px;
    color: #000;
    vertical-align: baseline;
    float: left;
    margin-left: 630px;
    width: 80px;
    height: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    line-height: 20px;
    padding-left: 2px;
    padding-right: 2px;
    border: 0;
    border-radius: 2px;
    box-shadow: 0 0px 2px 1px rgba(0, 0, 0, 0.2);
}
.messages>.header>.filter_date:hover {
    background-color: rgba(250, 50, 50, 0.2);
    box-shadow: 0 0px 2px 1px rgba(0, 0, 0, 0.2);
}
.messages>.header>.log_text_search {
    position: absolute;
    margin-top: 30px;
    font-weight: normal;
    font-size: 16px;
    color: #000;
    vertical-align: baseline;
    float: left;
    margin-left: 770px;
    width: 150px;
    height: 20px;
    white-space: nowrap;
    overflow: hidden;
    padding-left: 2px;
    padding-right: 2px;
    border: 0;
    border-radius: 2px;
    box-shadow: 0 0px 2px 1px rgba(0, 0, 0, 0.2);
}
.messages>.header>.filter_string {
    position: absolute;
    margin-top: 30px;
    font-weight: normal;
    font-size: 16px;
    color: #000;
    vertical-align: baseline;
    float: left;
    margin-left: 930px;
    width: 80px;
    height: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    line-height: 20px;
    padding-left: 2px;
    padding-right: 2px;
    border: 0;
    border-radius: 2px;
    box-shadow: 0 0px 2px 1px rgba(0, 0, 0, 0.2);
}
.messages>.header>.filter_string:hover {
    background-color: rgba(250, 50, 50, 0.2);
    box-shadow: 0 0px 2px 1px rgba(0, 0, 0, 0.2);
}
.messages>.logs {
    position: relative;
    width: 100%;
    height: calc(100% - 75px);
    float: left;
    padding-bottom: 15px;
}
.messages>.logs>.ss-wrapper>.ss-content>.message {
    position: relative;
    width: 100%;
    margin-top: 25px;
}
.messages>.logs>.ss-wrapper>.ss-content>.message>.timestamp {
    position: absolute;
    top: -15px;
    left: 5%;
    text-align: center;
    font-size: 11px;
    color: #000;
}
.messages>.logs>.ss-wrapper>.ss-content>.message>.content {
    clear: both;
    background-color: #FFF;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-left: 5%;
    border-radius: 5px;
    color: #323232;
    font-size: 14px;
    position: relative;
    max-width: calc(90% - 18px);
    margin-top: 1px;
    margin-bottom: 1px;
    word-wrap: break-word;
    word-break: break-all;
}
.messages>.logs>.ss-wrapper>.ss-content>.message:first-child>.content {
    margin-top: 15px;
}
.messages>.logs>.ss-wrapper>.ss-content>.message:last-child>.content {
    margin-bottom: 15px;
}
/* Media Rules */

@media screen and (max-width: 1350px), screen and (max-height: 700px) {
    .container {
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        display: flex;
        overflow: hidden;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 9999;
    }
    .main {
        position: relative;
        height: 100%;
        width: 100%;
        min-height: 600px;
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.2);
        border-radius: 5px;
        float: left;
    }
    .messages {
        width: 100%;
        min-width: 300px;
    }
}